.typewriter {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.typewriter:nth-child(even) {
  background-color: #eee;
}

/* Setting these dimensions so that the VizSensor can spot the span initially */
.typewriter span {
  min-height: 1px;
  min-width: 1px;
}
