section {
  margin: 0;
  padding: 0 15px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
}

section:nth-child(even) {
  background-color: #eee;
}